<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GSBLien" connectionString="Data Source=S301P07\SQLEXPRESS;Initial Catalog=GSBLien;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="GesLienGUI.Properties.Settings.GSBLienConnectionString" connectionString="Data Source=S301P08\SQLEXPRESS;Initial Catalog=GSBLien;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="GSBLien1" connectionString="Data Source=DESKTOP-07D32U3\SQLEXPRESS;Initial Catalog=GSBLien;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
