<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="GesLienDAL.Properties.Settings.GSBLienS301P07" connectionString="Data Source=S301P07\SQLEXPRESS;Initial Catalog=GSBLien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
